<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Bing and Google Maps</Name><AddInID>{2f40d012-ffa9-4363-af84-0ed1bd71d261}</AddInID><Description>Access Google Maps and Bing Maps using ArcMap.</Description><Version>1.0v3</Version><Image>Images\Main.png</Image><Author>Ian Broad and Alexandru Adrian MEROSU</Author><Company>Ian Broad</Company><Date>02/04/2015</Date><Targets><Target name="Desktop" version="10.4" /></Targets><AddIn language="PYTHON" library="BingGoogleMaps_addin.py" namespace="BingGoogleMaps_addin"><ArcMap>
    <Commands>
        <Tool caption="Google Street View" category="Bing and Google Maps" class="GoogleStreetView" id="BingGoogleMaps_addin.tool" image="Images\GoogleStreetView.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Google Maps" category="Bing and Google Maps" class="GoogleMaps" id="BingGoogleMaps_addin.tool_1" image="Images\GoogleMaps.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Google Satellite" category="Bing and Google Maps" class="GoogleSatellite" id="BingGoogleMaps_addin.tool_2" image="Images\GoogleSatellite.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Google Terrain" category="Bing and Google Maps" class="GoogleTerrain" id="BingGoogleMaps_addin.tool_3" image="Images\GoogleTerrain.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Bing Roads" category="Bing and Google Maps" class="BingRoads" id="BingGoogleMaps_addin.tool_4" image="Images\BingRoads.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Bing Birds Eye" category="Bing and Google Maps" class="BingBirdsEye" id="BingGoogleMaps_addin.tool_5" image="Images\BingBirdsEye.png" message="" tip=""><Help heading="" /></Tool>
        <Tool caption="Bing Aerial" category="Bing and Google Maps" class="BingAerial" id="BingGoogleMaps_addin.tool_6" image="Images\BingAerial.png" message="" tip=""><Help heading="" /></Tool>
        <Button caption="Information" category="Bing and Google Maps" class="Information" id="BingGoogleMaps_addin.button" image="Images\Information.png" message="" tip=""><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Bing and Google Maps" category="Bing and Google Maps" id="BingGoogleMaps_addin.toolbar" showInitially="true"><Items><Tool refID="BingGoogleMaps_addin.tool" /><Tool refID="BingGoogleMaps_addin.tool_1" /><Tool refID="BingGoogleMaps_addin.tool_2" /><Tool refID="BingGoogleMaps_addin.tool_3" /><Tool refID="BingGoogleMaps_addin.tool_4" /><Tool refID="BingGoogleMaps_addin.tool_5" /><Tool refID="BingGoogleMaps_addin.tool_6" /><Button refID="BingGoogleMaps_addin.button" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>